/* Default styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
html {
	font-size: 62.5%;
}
body {
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

/* Header styles */
.header {
	height: 101vh;
	width: 100%;
	position: relative;
}
.header__heading {
	font-size: 5rem;
	font-weight: 700;
	color: rgb(228, 227, 227);
	padding: 1rem 2rem 0rem;
	cursor: pointer;
}
.header__content {
	width: 100%;
	text-align: center;
	padding: 4rem 15rem;
	line-height: 1.5;
}
.header__content--heading {
	color: rgb(228, 227, 227);
	font-size: 6.8rem;
	font-weight: 900;
	margin-bottom: 1rem;
}
.header__content--text-box {
	margin: auto;
	width: 70%;
}
.header__content--text {
	font-size: 2.5rem;
	color: rgb(228, 227, 227);
	margin-bottom: 3rem;
}
.header__content--button {
	display: inline-block;
	border: none;
	font-family: "Lato", sans-serif;
	font-weight: 800;
	font-size: 3rem;
	padding: 1.2rem 6rem;
	border-radius: 30px;
	background-color: rgb(14, 118, 255);
	color: #fff;
	text-transform: capitalize;
	cursor: pointer;
	transition: all 0.3s;
}
.header__content--button:hover {
	background-color: #fff;
	color: #000;
}
.header__img {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: center;
	padding: 12rem;
	color: rgb(51, 50, 61);
}
.main-content__header {
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: 700;
}
.main-content__text-box {
	padding: 2rem 0 6rem;
	width: 50%;
}
.main-content__text {
	color: rgb(106, 105, 117);
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.5;
	animation-name: slideright;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-delay: 0.8s;
}
.main-content__img {
	width: 50vw;
	padding-bottom: 8rem;
}

/* Features styles */
.features {
	background-color: rgb(248, 248, 248);
	text-align: center;
	padding: 10rem;
}
.features__main-heading {
	font-size: 5rem;
	padding-bottom: 8rem;
	text-transform: uppercase;
	color: rgb(51, 50, 61);
}
.features__boxes {
	display: flex;
}
.features__box {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: 0 3rem;
}
.features__heading {
	color: rgb(51, 50, 61);
	font-size: 3rem;
	font-weight: 700;
	padding-bottom: 1rem;
}
.features__desc {
	font-size: 2rem;
	line-height: 1.5;
	font-weight: 300;
	color: rgb(106, 105, 117);
}
.features__img {
	color: rgb(14, 118, 255);
	font-size: 5rem;
	padding-bottom: 1rem;
}

/* Collection styles */
.collection {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: 12rem 0;
}
.collection__heading {
	color: rgb(51, 50, 61);
	font-size: 5rem;
	text-transform: uppercase;
}
.collection__desc-box {
	width: 50%;
	padding: 2rem 0 5rem;
}
.collection__desc {
	color: rgb(106, 105, 117);
	font-weight: 300;
	font-size: 2rem;
	line-height: 1.5;
}
.collection__items {
	display: flex;
	align-items: center;
	align-content: center;
	text-align: center;
}
.collection__item:not(:last-child) {
	margin-right: 5rem;
}
.collection__item--img {
	width: 20vw;
	padding-bottom: 2rem;
}
.collection__item--heading {
	color: rgb(14, 118, 255);
	font-size: 2rem;
	padding-bottom: 1rem;
}
.collection__item--price {
	font-size: 2.5rem;
	color: rgb(253, 126, 53);
	padding-bottom: 2rem;
}
.collection__item--button {
	display: inline-block;
	border: 1px solid rgb(106, 105, 117);
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	padding: 0.6rem 4rem;
	border-radius: 30px;
	background-color: #fff;
	color: rgb(106, 105, 117);
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s;
}
.collection__item--button:hover {
	background-color: rgb(106, 105, 117);
	color: #fff;
}

/* CTA styles */
.cta {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: center;
	background-color: rgb(248, 248, 248);
	padding: 12rem;
}
.cta__heading {
	color: rgb(51, 50, 61);
	font-size: 5rem;
	text-transform: uppercase;
	padding: 2rem;
}
.cta__text {
	font-size: 2rem;
	line-height: 1.5;
	font-weight: 300;
	color: rgb(106, 105, 117);
	padding-bottom: 3rem;
}
.cta__button {
	display: inline-block;
	border: none;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 3rem;
	padding: 1.2rem 6rem;
	border-radius: 30px;
	background-color: rgb(14, 118, 255);
	color: #fff;
	text-transform: capitalize;
	cursor: pointer;
	transition: all 0.3s;
}
.cta__button:hover {
	background-color: rgb(41, 55, 73);
}

@media only screen and (max-width: 1100px) {
	.header {
		height: 90vh;
	}
	.header__heading {
		font-size: 3rem;
	}
	.header__content {
		padding: 5rem 2rem;
	}
	.header__content--heading {
		font-size: 4rem;
	}
	.header__content--text {
		font-size: 2.2rem;
		font-weight: 300;
	}

	.main-content__text-box {
		width: 100%;
	}
	.main-content__text {
		font-size: 2.2rem;
	}

	.features {
		padding: 12rem 2rem;
	}
	.features__heading {
		font-size: 2.5rem;
	}
	.features__desc {
		font-size: 1.8rem;
	}

	.collection__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 15rem;
	}
	.collection__item--img {
		width: 25vw;
	}
	.collection__item:not(:last-child) {
		margin-right: 0;
	}
	.collection__item {
		padding-bottom: 4rem;
	}
}

/* iPhone */
@media only screen and (max-width: 850px) {
	.header {
		height: 70vh;
	}
	.header__heading {
		font-size: 3rem;
	}
	.header__content {
		padding: 5rem 2rem;
	}
	.header__content--heading {
		font-size: 3.2rem;
	}
	.header__content--text-box {
		width: 100%;
	}
	.header__content--text {
		font-size: 2rem;
		font-weight: 300;
	}

	.main-content {
		padding: 10rem 2rem;
	}
	.main-content__header {
		font-size: 3rem;
	}
	.main-content__text-box {
		width: 100%;
	}

	.features {
		padding: 10rem 2rem;
	}
	.features__main-heading {
		font-size: 3rem;
		padding-bottom: 3rem;
	}
	.features__boxes {
		flex-direction: column;
		align-items: center;
		align-content: center;
	}
	.features__img {
		font-size: 10rem;
		padding: 5rem 0 3rem;
	}
	.features__box {
		width: 80%;
	}

	.collection {
		padding: 12rem 3rem;
	}
	.collection__heading {
		font-size: 3rem;
	}
	.collection__desc-box {
		width: 100%;
	}
	.collection__items {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		text-align: center;
	}
	.collection__item--img {
		width: 50vw;
	}
	.collection__item--price {
		padding-bottom: 1rem;
	}
	.collection__item:not(:last-child) {
		padding-bottom: 1rem;
		margin-right: 0;
	}

	.cta {
		padding: 12rem 2rem;
	}
	.cta__heading {
		font-size: 3rem;
	}
	.cta__text {
		font-size: 2rem;
	}
	.cta__button {
		font-size: 2rem;
	}
}

/* Animations */
@keyframes slideleft {
	0% {
		visibility: hidden;
		transform: translateX(-5rem);
		opacity: 0;
	}

	100% {
		visibility: visible;
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slideright {
	0% {
		visibility: hidden;
		transform: translateX(5rem);
		opacity: 0;
	}

	100% {
		visibility: visible;
		transform: translateX(0);
		opacity: 1;
	}
}
.fadein {
	opacity: 0;
	transition: opacity 0.3s ease-in;
}
.fadein.appear {
	opacity: 1;
}
.left {
	opacity: 0;
	transform: translateX(-5rem);
}
.right {
	opacity: 0;
	transform: translateX(5rem);
}
.bottom {
	opacity: 0;
	transform: translateY(5rem);
}
.top {
	opacity: 0;
	transform: translateY(-5rem);
}
.top,
.bottom,
.left,
.right {
	transition: all 0.5s ease-in;
}
.left.appear,
.right.appear {
	transform: translateX(0);
	opacity: 1;
}
.bottom.appear,
.top.appear {
	transform: translateY(0);
	opacity: 1;
}
